{% extends "EspritDemoBundle::layout.html.twig" %}


{%block nav1 %}
                             <ul class="menu">
                                <li><a class="active" href="{{ path('Home_prestataire')}}">Acceuil</a></li>
                                <li><a  href="{{ path('produit')}}">Produits</a></li>
                                    <li><a href="{{ path('prestataire_show', { 'id': "1" }) }}">Espace perso</a></li>
                                    <li><a>Contact </a></li>
                            </ul>
                            
  
     
                              
  {%endblock %}    
                              
  {%block body%}


  {% endblock %}                    