{% extends "EspritDemoBundle::layout.html.twig" %}


{%block nav1 %}
                             <ul class="menu">
                                <li><a  href="{{ path('produit')}}">Produits</a></li>
                                    <li><a href="{{ path('prestataire') }}">Espace perso</a></li>
                                    <li><a>Contact </a></li>
                            </ul>
                            
                              
  {%endblock%}
 
 {%block ListePrest %}
     
                              
  {%endblock %}    
                              
                              